{
  "http_interactions": [
    {
      "recorded_at": "2019-10-23T12:05:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Token token=ea28287a698d65a65e9003833bc51625"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "GET",
        "uri": "https://testabcd.mocoapp.com/api/v1/units?page=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":909163462,\"name\":\"Team 1\",\"custom_properties\":{},\"users\":[{\"id\":933625320,\"firstname\":\"testa\",\"lastname\":\"test\"},{\"id\":933625325,\"firstname\":\"testfirstname\",\"lastname\":\"testlastname\"}],\"created_at\":\"2019-10-23T10:01:07Z\",\"updated_at\":\"2019-10-23T10:01:07Z\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "ETag": [
            "W/\"a906d7cf38528cba77d14ca09447e901\""
          ],
          "X-Page": [
            "1"
          ],
          "X-Per-Page": [
            "100"
          ],
          "X-Total": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://testabcd.mocoapp.com/api/v1/units?page=1"
      }
    },
    {
      "recorded_at": "2019-10-23T12:06:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"email\": \"email@email.de\", \"unit_id\": 909163462, \"lastname\": \"testlastname\", \"firstname\": \"testfirstname\", \"password\": \"password\"}"
        },
        "headers": {
          "Authorization": [
            "Token token=ea28287a698d65a65e9003833bc51625"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://testabcd.mocoapp.com/api/v1/users"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"email\":[\"ist bereits vergeben\"]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://testabcd.mocoapp.com/api/v1/users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}